<section [@fadeInOut] class="vh-100">
  <button type="button" (click)="onLogoutClick()" class="btn btn-dark p-3 mt-3" style="float: right;">LogOut</button>
  <div class="container-fluid h-custom">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
        <form #f="ngForm">
          <div class="form-outline mb-4">
            <h3>
              Insert Note
            </h3>
          </div>

          <div class="divider d-flex align-items-center my-4">
          </div>

          <div class="form-outline mb-4">
            <input name="subject" type="text" id="form3Example3" class="form-control form-control-lg" ngModel
              placeholder="Write Subject" />
          </div>

          <div class="form-outline mb-4">
            <input name="detail" type="text" id="form3Example3" class="form-control form-control-lg" ngModel
              placeholder="Write Detail" />
          </div>

          <div class="form-outline mb-4">
            <input name="date" type="date" id="form3Example3" class="form-control form-control-lg" ngModel
              placeholder="Enter Date" />
          </div>

          <div class="text-center text-lg-start mt-4 pt-2">
            <button type="button" class="btn btn-warning btn-lg" style="padding-left: 2.5rem; padding-right: 2.5rem;"
              (click)="onInsertClick()">Insert</button>
          </div>

        </form>
      </div>
    </div>
  </div>
</section>