<div [@fadeInOut] class="container-fluid outer">    
    <div @[fadeInOut] class="row">
        <div *ngFor="let each of notesdata" class="col-xs-5 col-sm-10 col-lg-5 col-md-5 mx-auto mt-3 mb-3">
            <div class="card element">
                <div class="card-body">
                    <h5 class="card-title">{{each.subject}}</h5>
                    <p class="card-text"> {{each.detail}}</p>
                    <p class="card-text"> {{each.note_date}}</p>
                    <i (click)="onDeleteClick(each.note_id)" style="font-size:3rem;color: red;" class="fas fa-trash-alt"
                    aria-hidden="true"></i>
                </div>
            </div>
        </div>
    </div>
</div>