
.outer{
	background: #303136;
	background: linear-gradient(180deg, #303136 16%, #9e6b75 100%);
}

.element {
	background: #3f5efb;
	background: linear-gradient(145deg, #3f5efb 0%, #fc466b 100%);	
  }

  