<section [@fadeInOut] class="vh-100">
    <!-- <button type="button" (click)="onLogoutClick()" class="btn btn-dark p-3 mt-3" style="float: right;">LogOut</button> -->
    <div class="container-fluid h-custom">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
          <form #f="ngForm">
            <div class="form-outline mb-4">
              <h2 style="color: white;">
                Update Note
              </h2>
            </div>
  
            <div class="divider d-flex align-items-center my-4">
            </div>
  
            <div class="form-outline mb-4">
              <textarea name="subject" type="type=textarea" id="form3Example3" class="form-control form-control-lg" ngModel
                placeholder="Write Subject"  [(ngModel)]="note_data.subject"></textarea>
            </div>
  
            <div class="form-outline mb-4">
              <textarea name="detail" type="textarea" id="form3Example3" class="form-control form-control-lg" ngModel
                placeholder="Write Detail" [(ngModel)]="note_data.detail"></textarea>
            </div>
  
            <div class="form-outline mb-4">
              <input name="date" type="date" id="form3Example3" class="form-control form-control-lg" ngModel
                placeholder="Enter Date"  [(ngModel)]="note_data.note_date"/>
            </div>
  
            <div class="text-center text-lg-start mt-4 pt-2">
              <button type="button" class="btn btn-danger btn-lg" style="padding-left: 2.5rem; padding-right: 2.5rem;"
                (click)="onUpdateClick(this.note_data.note_id)">Update</button>
            </div>
  
          </form>
        </div>
      </div>
    </div>
  </section>

  <!-- toaster code -->
<app-toast [type]="this.type" [show]="this.showtoast" [message]="this.message" [autoCloseDelay]="this.autoCloseDelay"></app-toast>